    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-12 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-5">
                こんにちは、<br>
                <%= current_user.username %>さん
              </h1>
              <a href="#informations" class="btn btn-outline btn-xl js-scroll-trigger">情報を見る</a>
            </div>
          </div>

        </div>
      </div>
    </header>


<section class="bg-dark minh" id="informations">

    <div class="container">

      <div class="row">


        <!-- Sidebar Widgets Column -->
<!--
          <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>
-->


        <!-- Informations Entries Column -->
        <div class="col-md-12">

          <h1 class="my-4 text-white">情報一覧</h1>

          <!-- Information Post -->
          <% if @information.empty? %>
          <div class="card mb-4">
            <h5 class="card-header"></h5>
            <div class="card-body">
              <h2 class="card-title"></h2>
              <p class="card-text">データがありません。</p>
            </div>
            <div class="card-footer text-muted">
            </div>
          </div>
          <% end %>

          <% @information.each do |information| %>
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title"><%= truncate(information.title, length: 10) %></h2>
              <p class="card-text"><%= truncate(information.comment, length: 100) %></p>
              <%= link_to '詳細', information, class: "btn btn-primary" %>
            </div>
            <div class="card-footer text-muted">
              <div class="row">
                <div class="col-md-8">
                  更新日 <%= information.updated_at.strftime('%Y年%m月%d日 %H:%M:%S') %> by <%= information.user.username %>
                </div>
              </div>
            </div>
          </div>
          <% end %>


          <%= paginate @information %>

        </div>

      </div>
      <!-- /.row -->

    </div>
</section>
    <%= javascript_include_tag "new-age.min.js" %>
    <%= javascript_include_tag "jquery.easing.js" %>