<section class="bg-dark minh">
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">編集</div>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <div class="form-group">
            <div class="form-label-group">
              <%= f.text_field :username, id: "inputName", class: "form-control", placeholder: "ユーザー名", required: true, autofocus: true %>
              <%= f.label :username, "ユーザー名", for: "inputName" %>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <%= f.email_field :email, id: "inputEmail", class: "form-control", autocomplete: "emai", placeholder: "メールアドレス", required: true %>
              <%= f.label :email, "メールアドレス", for: "inputEmail" %>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <%= f.password_field :current_password, id: "currentPassword", class: "form-control", autocomplete: "current-password", placeholder: "現在のパスワード", required: true %>
              <%= f.label :current_password, "現在のパスワード", for: "currentPassword" %>
            </div>
          </div>

          <%= f.submit "変更を保存", class: "btn btn-primary btn-block" %>
        <% end %>
        <div class="text-left">
          <%= link_to "アカウント削除", registration_path(resource_name), class: 'd-block small mt-3', data: { confirm: "本当に削除しますか？" }, method: :delete %>
        </div>
      </div>
    </div>
  </div>
</section>