<section class="bg-primary minh">
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">アカウント凍結解除メールの再送信</div>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>
          <div class="form-group">
            <div class="form-label-group">
              <%= f.email_field :email, id: "inputEmail", class: "form-control", autocomplete: "emai", placeholder: "メールアドレス", required: true, autofocus: true %>
              <%= f.label :email, "メールアドレス", for: "inputEmail" %>
            </div>
          </div>
          <%= f.submit "再送信", class: "btn btn-primary btn-block" %>
        <% end %>
        <div class="text-left">
          <%= link_to "パスワードの再発行", new_password_path(resource_name), class: 'd-block small mt-3' %>
          <%= link_to '確認メールの再送信', new_confirmation_path(resource_name), class: 'd-block small' %>
        </div>
      </div>
    </div>
  </div>
</section>