<%= form_with(model: information, local: true) do |f| %>
  <div class="form-group">
    <div class="form-label-group">
      <%= f.text_field :title, id: "inputTitle", class: "form-control", placeholder: "タイトル", required: true, autofocus: true %>
      <%= f.label :title, "タイトル", for: "inputTitle" %>
    </div>
  </div>
  <div class="form-group">
    <div class="form-label-group">
      <%= f.text_area :comment, id: "inputComment", class: "form-control", placeholder: "", required: true, size: "60x10", placeholder: "コメント" %>
      <%= f.label :comment, "コメント", for: "inputComment" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.check_box :general %>
    <%= f.label :general, "公開" %>
  </div>
  <%= f.submit "登録", class: "btn btn-primary btn-block" %>
<% end %>
