
<section class="bg-primary minh">
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">パスワード変更</div>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <div class="form-label-group">
                  <%= f.password_field :password, id: "inputPassword", class: "form-control", autocomplete: "off", placeholder:"パスワード", required: true, autofocus: true %>
                  <%= f.label :password, for: "inputPassword" do %>
                    パスワード<em><%= "(" + @minimum_password_length.to_s + "文字以上)" if @minimum_password_length %></em>
                  <% end %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-label-group">
                  <%= f.password_field :password_confirmation, id: "confirmPassword", class: "form-control", placeholder: "パスワード再入力", autocomplete: "off", required: true %>
                  <%= f.label :password_confirmation, "パスワード再入力", for: "confirmPassword" %>
                </div>
              </div>
            </div>
          </div>
          <%= f.submit "パスワード変更", class: "btn btn-primary btn-block" %>
        <% end %>
      </div>
    </div>
  </div>
</section>