<section class="bg-primary minh">
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">ログイン</div>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="form-group">
            <div class="form-label-group">
              <%= f.email_field :email, id: "inputEmail", class: "form-control", autocomplete: "emai", placeholder: "メールアドレス", required: true, autofocus: true %>
              <%= f.label :email, "メールアドレス", for: "inputEmail" %>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <%= f.password_field :password, id: "inputPassword", class: "form-control", autocomplete: "off", placeholder:"パスワード", required: true %>
              <%= f.label :password, for: "inputPassword" do %>
                パスワード<em><%= "(" + @minimum_password_length.to_s + "文字以上)" if @minimum_password_length %></em>
              <% end %>
            </div>
          </div>
          <% if devise_mapping.rememberable? -%>
            <div class="form-group">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, "保存する" %>
            </div>
          <% end -%>
          <%= f.submit "ログイン", class: "btn btn-primary btn-block" %>
        <% end %>
        <div class="text-left">
          <%= link_to "パスワードの再発行", new_password_path(resource_name), class: 'd-block small mt-3' %>
          <%= link_to '確認メールの再送信', new_confirmation_path(resource_name), class: 'd-block small' %>
          <%= link_to "アカウント凍結解除メールの再送信", new_unlock_path(resource_name), class: 'd-block small' %>
        </div>
      </div>
    </div>
  </div>
</section>